@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  padding-top: 50px;
  font-family: "Raleway", sans-serif;
}

.about {
  background-color: #f2f2f2;
}

.line {
  border: none;
  border-top: 3px solid #343a40;
  max-width: 250px;
  margin: 25px auto;
}
.igrey {
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid white;
    background-color: white;
  }
  .iwhite{
    color: #343a40;
    position: relative;
    top: -55px;
    font-size: 40px;
    border: 10px solid #f2f2f2;
    background-color: #f2f2f2;
  }
  .ekipCard > img:hover {
    opacity: 0.8;
  }
  .Galeri {
    background-color: #f2f2f2;
  }
  .figure:hover {
    opacity: 0.8;
  }
  